
<div class="container">
  <h1 class="col-md-6 mt-5 mb-3"><%= @cocktail.name %></h1>
    <div class="row">
    <%= link_to cl_image_tag(@cocktail.photo.key, height: 300, width: 400, crop: :fill, :radius=>5), cocktail_path(@cocktail), class: "img-cocktail" %>
      <div class="col-sm-12 col-md-6">
        <table class="table table-hover mt-3">
          <tbody>
            <thead class="thead-dark">
              <th>Ingredient</th>
              <th>Description</th>
            </thead>
            <% @cocktail.doses.each do |dose| %>
              <tr>
                <td><%= dose.description %></td>
                <td><%= dose.ingredient.name %> <i class="fas fa-trash-alt"></i></td>          
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="container d-flex justify-content-center">
          <%= link_to 'Create Doses', new_cocktail_dose_path(@cocktail), class: "btn btn-dark btn-sm mx-2 px-4"%>
          <%= link_to "Back to Cocktails", cocktails_path, class: "btn btn-light btn-sm mx-2 px-4" %>
        </div>
      </div>
    </div>
</div>
