<h1>New Doses</h1>
<p>Add an ingredient</p>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>

  <%= f.input :description %>
  <%= f.association :ingredient %>

  <%= f.button :submit, class: "btn-primary mb-2" %>
  
<% end %>


<%= link_to "Back to Cocktails", cocktails_path, class: "btn btn-warning btn-sm%" %>